<div class="navbar">
    <div class="navbar-brand">
        My Shop
    </div>
    <input type="text" class="search-bar" placeholder="Search...">
    <div>
        <a href="#" class="cart-link">Cart</a>
    </div>
    <div>
        {% if request.user.is_authenticated %}
        <div class="header__user">
            <<a href="#">
                <img src="" alt="avatar"/>
                <p>sign up</p>
            </a>
        </div>
        {% else %}
        <a href="#">

            <p>Login</p>
        </a>
        {% endif %}
    </div>
</div>